# $Id$
# This software is subject to the terms of the Common Public License
# Agreement, available at the following URL:
# http://www.opensource.org/licenses/cpl.html.
# Copyright (C) 2007-2007 Julian Hyde and others.
# All Rights Reserved.
# You must accept the terms of that agreement to use this software.
#
##########################################################################################
# Sample "test.properties" file. Rename to "test.properties" and modify
# for your environment.
#
# SPECIAL NOTE.
# If the TCK is launched within Ant, the default amount of memory that
# is allowed for Ant won't do the job. There are lots of OLAP operations
# to perform and it is strongly suggested to give at lease 1 gig of ram
# to Ant in order to run properly. You can easily achieve this by setting
# ANT_OPTS environment variable to "-Xmx1024m".
##########################################################################################


##########################################################################################
# Olap4j comes with a hsqldb ready testing database.
# The current value doesn't need any adjustments and should work
# ok in most environments. Note that this connection 
# requires ANT to run with more memory. You can
# do that by setting the ANT_OPTS environment variable to "-Xmx1024m"
# If you want to run the tests against your own database, modify the 
# [root]/simple-jndi/jdbc.properties file. Don't touch this property.
##########################################################################################
org.olap4j.test.connectUrl=jdbc:mondrian:Datasource=jdbc/SampleData;Catalog=./foodmart/FoodMart.xml;

##########################################################################################
# Path to the FoodMart.xml catalog file. The Xmla tester needs this.
# Must be specified if you are using XmlaTester; there is no default.
# Olap4j comes with a schema file located under the "foodmart directory,
# so the current value doesn't need to be updated nd should be ok with most
# environments.
##########################################################################################
org.olap4j.XmlaTester.CatalogUrl=file:foodmart/FoodMart.xml

##########################################################################################
# Name of class which targets the olap4j test suite to a particular driver
# implementation. Must implement org.olap4j.test.TestContext.Tester interface.
# Default is "org.olap4j.MondrianTester";
# to test the XMLA driver, use "org.olap4j.XmlaTester".
# This is the only property you might need to adjust depending on what
# component you want to test.
##########################################################################################
#org.olap4j.test.helperClassName=org.olap4j.MondrianTester
org.olap4j.test.helperClassName=org.olap4j.XmlaTester

# End test.properties.example
